<h2>Station's close to <%= @stations.zip_code %></h2>

<div>
<% @stations.each do |station| %>
 <p><%= station.name %></p>
 <p><%= station.address %></p>
 <p><%= station.fuel_types %></p>
 <p><%= station.distance %></p>
 <p><%= station.access_times %></p>
<% end  %>
</div>
