<h2>Station's close to your searched zipcode</h2>

<div>
<% @stations.each do |station| %>
 <p>Name: <%= station.name %></p>
 <p>Address: <%= station.address %></p>
 <p>Fuel Types: <%= station.fuel_types %></p>
 <p><%= station.distance %> miles from given zip</p>
 <p>Access Times: <%= station.access_times %></p>
<% end  %>
</div>
