<h2>Station's close to your searched zipcode</h2>

<% @stations.each do |station| %>
<p>
 Name: <%= station.name %>
 Address: <%= station.address %>
 Fuel Types: <%= station.fuel_types %>
 <%= station.distance %> miles from given zip
 Access Times: <%= station.access_times %>
</p>
<% end  %>
